*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.botao{
    display: flex;
    flex-direction: row;
    
}

button{
    width: 2rem;
    height: 2rem;
}

h1{
    font-size: 10rem;
}